<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static "css/demo.css" %}">
  </head>
  <body>
    <h1>Movies News</h1>
    <ul>
      <li>Virat kohli beacome father...on 11/1</li>
      <li>Ranveer married to aaliya</li>
      <li>Sunny get new marrige offer...</li>
    </ul><hr>
    <img src="{% static "images/first.jpg" %}">
    <img src="{% static "images/second.jpg" %}">
    <img src="{% static "images/third.jpg" %}">
  </body>
</html>
