<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static "css/demo.css" %}">
  </head>
  <body>
    <h1>Movies News</h1>
    <ul>
      <li>India won test series in australia by 2-1</li>
      <li>Rishabh pant MOM of this match</li>
      <li>World Test championship Final NZ VS INDIA </li>
    </ul><hr>
    <img src="{% static "images/first.jpg" %}">
    <img src="{% static "images/second.jpg" %}">
    <img src="{% static "images/third.jpg" %}">
  </body>
</html>
